<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form>
            <input name="term" type="text" id="term" placeholder="Enter Search Term"/>
            <button name="submit" id="submit">Send</button>
        </form>

        <h2 id="title"></h2>
        <img id="image" />

        <script src="js/app.js"></script>
    </body>
    <footer>

    </footer>
</html>